@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --color-danger: #fc4747;
  --color-dark: #10141e;
  --color-greyish: #5a698f;
  --color-secondary: #e1e1e1;
  --color-semi-dark: #161d2f;
  --color-warning: #ffc107;
  --color-white: #ffffff;
  --ff: "Outfit", sans-serif;
  --fs: 15px;
  --L: 32px;
  --M: 24px;
  --XS: 18px;
  --BS: 13px;
  --container: 1280px;
  --gap: 30px;
  --grid: 40px;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--color-dark);
  color: var(--color-white);
  font-family: var(--ff);
  font-size: var(--fs);
  font-weight: 300;
  line-height: 20px;
  margin: 0;
}
a {
  color: var(--color-danger);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
